.heading{
    background-color: lightslategray;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
    width: fit-content;
    box-shadow: 1px 2px 5px black;
}

#selection{
    border-radius: 10px;
    background-color: ghostwhite;
    margin-top: 20px;
    width: fit-content;
    justify-content: center;
}