
.stack-sans-text {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  font-style: normal;
}

#heading{
    padding: 20px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    box-shadow: 1px 2px 5px black;
    display: flow;
    text-align: center;
    border-radius: 15px;
    background: #1b4332;
}

#title{
    font-size: 80px;
    color: #f4f1de;
}

#selection{
    border-radius: 10px;
    margin-top: 20px;
}

#divTable{
    max-height: 200px;
    overflow-y: auto;
    width: 500px;
}

#graph-container{
    height: fit-content;
    width: fit-content;
}

.hidden{
    display: none;
}

#buttonContainer{
    gap: 50px;
    display: flex;
    width: fit-content;
}

.selectionButton{
    width: 200px;
    border: 2px solid #2c3e50;
    box-shadow: 1px 2px 5px black;
    color: #f4f1de;
    background: #1a3a5c;
}

.selectionButton:hover{
    color: black;

}

