.heading{
    background-color: lightslategray;
    padding: 10px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    box-shadow: 1px 2px 5px black;
}

#selection{
    border-radius: 10px;
    margin-top: 20px;
}

#divTable{
    max-height: 200px;
    overflow-y: auto;
}

#graph-container{
    height: fit-content;
    width: fit-content;
}

.hidden{
    display: none;
}
