#heading{
    padding: 5px;
    margin: 10px;
    width: fit-content;
}

form{
    width: fit-content;
}

#title{
    font-size: 30px;
}

.selectionButton{
    width: 100px;
}


/* for the form */
#selection{
    margin: 10px;
    padding: 10px;
    color: white;
}

input{
    border-radius: 10px;
    border: 2px solid black;
    margin: 5px;
}


