{% extends "layout.html"%}

{% block body %}
    <form>
        <label for="year">Year</label><br>
        <input type = "text" name ="year" id="year" required><br>

        <label for="PA">Minimum Plate Appearances</label><br>
        <input type = "text" name = "PA" id="PA" required><br>

        <select name = "statChoice" required>
            <option value = None>Stat</option>
            <option value = 1>Batting Average</option>
            <option value = 2>OPS</option>
            <option value = 3>Homeruns</option>
            <option value = 4>SLG</option>
        </select>

        <label>Player to highlight</label>
        <input name = "player" type="text">

        <button type = "submit" id="submit">Submit</button>
    </form>

    <label>Graph</label>
    <input type="checkbox" id = "graph">
    <label>Table</label>
    <input type="checkbox" id = "table">

    {% if playerStats %}
<div id="divTable" class ="hidden">
            <table class="table" id = "playerTable">
              <thead class ="table-dark">
                <tr>
                  <th scope="col">{{ team }} Players</th>
                  <th scope="col">{{ stat }}</th>
                </tr>
              </thead>
              <tbody>
                 {% for player, stats in playerStats.items() %}
                <tr>
                  <th scope="row">{{ player }}</th>
                  <td>{{ stats }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
    </div>
        {% else %}
            <p></p>
    {% endif %}
    <div id = "graph-container"  class ="hidden">
            {{ graph|safe }}
    </div>
{% endblock %}