{% extends "layout.html" %}

{% block header %}
<link href="{{ url_for('static', filename='styleTeams.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
     <div id = "divHeading" class = "animate__animated  animate__slideInUp">
        <header id = "heading" class = "bg-gradient">
            <h1 id = "title" >Ballpark Stats</h1>
                    <a href="{{ url_for('mlb') }}">
                        <button type = "submit" id="MLBBtn" class = "btn bg-gradient selectionButton">MLB</button>
                    </a>
        </header>
        </div>


    <div id="contentRow" class = "animate__animated  animate__slideInUp">
        <form id ="selection" method = "POST">
            <label for="year">Year</label>
            <input type = "text" name ="year" id="year" required placeholder="&quot;2026&quot;"><br>

            <label for="team">Team</label>
            <input type = "text" name = "team" id="team" required placeholder="&quot;Astros&quot;"><br>

            <label for="PA">Min. PA.</label>
            <input type = "text" name = "PA" id="PA" required placeholder="&quot;500&quot;"><br>

            <label>Chart Type</label>
            <div class="toggleRow">
            <button type="button" class="toggleBtn"  id="bar">Bar</button>
            <button type="button" class="toggleBtn" id="scatter">Scatter</button>
            </div>

            <div id = "statsDiv">
            </div>

             <div class="checkboxRow">
                <input type="checkbox" id = "graph"><label>Graph</label>
                <input type="checkbox" id = "table"><label>Table</label>
            </div>

            <button type = "submit" id="submit" class ="btn bg-gradient selectionButton">Submit</button>
        </form>

        {% if playerStats %}
        <div id="resultsContainer">
            <div id="divTable" class="hidden animate__animated animate__fadeInUp">
                <table class="table" id="playerTable">
                    <thead class="table-dark">
                    {% if not statChoice2 %}
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ team }} Players</th>
                            <th scope="col">{{ stat }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player, stats in playerStats.items() %}
                        <tr>
                            <td><span class="rank">{{ loop.index }}</span></td>
                            <th scope="row">{{ player }}</th>
                            <td>{{ stats }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ team }} Players</th>
                            <th scope="col">BA</th>
                            <th scope="col">OPS</th>
                            <th scope="col">HR</th>
                            <th scope="col">SLG</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player, stats in playerStats.items() %}
                        <tr>
                            <td><span class="rank">{{ loop.index }}</span></td>
                            <th scope="row">{{ player }}</th>
                            <td>{{ stats[0] }}</td>
                            <td>{{ stats[1] }}</td>
                            <td>{{ stats[2] }}</td>
                            <td>{{ stats[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
            {% endif %}
            {% if graph %}
            <div id = "graph-container"  class ="hidden animate__animated animate__fadeInUp">
                {{ graph|safe }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}